//Fonts
$font-heading: "Charmonman", sans-serif;
$font-base: "Open Sans", sans-serif;

$text-size-base: 14px;


$regular: 400;
$medium: 600;
$bold: 800;

$font-size-h1: 3.0625rem;
$font-size-h1-mobile: 2.25rem;
$font-size-h2: 2.25rem;
$font-size-h2-mobile: 1.875rem;
$font-size-h3: 1.875rem;
$font-size-subtitle: 1.5rem;
$font-size-sm: 1.125rem;
$font-size-s-mobile: 1rem;
$font-size-xs: 0.875rem;
$font-size-xxs: 0.675rem;
