.form {
  background-color: $color-sidePanel_nav;
  &__container {
    padding: $space-md;
  }
  &__text {
    display: flex;
    justify-content: center;
    text-align: center;
    @include laptop {
      justify-content: flex-start;
    }
    &--button {
      @include laptop {
        justify-content: flex-end;
      }
    }
  }
  &__title {
    color: $color-text-secondary;
    font-size: $font-size-h3;
    margin-bottom: $space-md;
    line-height: $space-md;
    @include laptop {
      margin-bottom: 0;
    }
  }
}
