* {
  box-sizing: border-box;
}
input[type="text"], input[type="email"], input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
html,
body {
  font-size: $text-size-base;
  font-family: $font-base;
  font-weight: 400;
  line-height: 1.5rem;
  color: $color-header-col-text;
}
a {
  text-decoration: none;
}