// Primary setup
.btn {
  text-align: center;
  display: inline-block;
  font-weight: $medium;
  color: $color-text-secondary;
  padding: .785rem .785rem;
  border: 0;
  transition: 0.4s;
  border-radius: 0;
  background-color: $color-buttons-headerScreen;
  font-size: $font-size-s-mobile;
  &:hover {
    transition: 0.4s;
    background-color: $color-warning;
  }
  @include tablet {
    padding: .785rem 1rem;
  }
}

.btn__large {
  padding: .785rem 3rem;
  transition: 0.4s;
}
