// Primary setup
.btn {
  text-align: center;
  display: inline-block;
  font-weight: $medium;
  color: $color-text-secondary;
  padding: .785rem .785rem;
  border: 0;
  transition: 0.4s;
  border-radius: 0;
  background-color: $color-buttons-headerScreen;
  font-size: $font-size-s-mobile;
  &:hover {
    transition: 0.4s;
    background-color: $color-warning;
  }
  @include tablet {
    padding: .785rem 1rem;
  }
  &__scroll {
    font-size: $font-size-s-mobile;
    background-color: transparent;
    color: $color-buttons-headerScreen;
    display: flex;
    align-items: center;
    &:hover {
      background-color: transparent;
      color: $color-warning;
    }
  }
  &__scroll .fas {
    padding: $space-xs;
  }
}

.btn__large {
  padding: .785rem 3rem;
  transition: 0.4s;
}
