//Colors
$color-sidePanel_nav: #5B605F;
$color-header-col-text: #4a4a49;
$color-buttons-headerScreen: #FF6600;

$color-bg-screen: #FFFFFA;
$color-text-secondary: #FFFFFA;

$color-info:#3498DB;
$color-warning:#FFB03B;
$color-success:#468966;

$color-bin:#BD4932;
$color-row-text:#A1A194; 

$color-zaplanuj: #fff;
$color-jedzonko: #E58A20;

$color-white_alpha: rgba(255,255,255, 0.9);